@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
	&__menu {
		height: 47px;
		padding-top: 34px;
		padding-bottom: 94px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		max-width: 549px;
		padding-top: 12px;
		font-weight: 600;
		font-size: 72px;
		line-height: 78px;
		color: #212121;
	}
	&__text {
		max-width: 603px;
	}
}

.header-nav {
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
	}
	&__item {
		padding-left: 44px;
	}
	&__link {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
		&:hover {
			color: #646464;
		}
	}
	&__btn {
		display: block;
		min-width: 97px;
		height: 32px;
		background: #CAA892;
		border-radius: 15px 0px;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		line-height: 32px;
		color: #ffffff;
	}
}

.service-slider {
	&__inner {
		position: relative;
	}
	&__arrows {
		position: absolute;
		top: 90px;
		right: 0;
		width: 78px;
		display: flex;
		justify-content: space-between;
	}
	&__arrow {
		display: block;
		width: 30px;
		height: 29px;
		border-radius: 50%;
		background: #FFFFFF;
		box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
		&--left {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 11px;
				left: 13px;
				width: 5px;
				height: 5px;
				border-top: 2px solid #646464;
				border-right: 2px solid #646464;
				transform: rotate(-135deg);
			}
		}
		&--right {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 11px;
				left: 11px;
				width: 5px;
				height: 5px;
				border-top: 2px solid #646464;
				border-right: 2px solid #646464;
				transform: rotate(45deg);
			}
		}
	}
	&__list {
		padding-top: 50px;
		padding-bottom: 204px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		display: flex;
		align-items: start;
		padding-top: 40px;
		padding-left: 37px;
		box-sizing: border-box;
		max-width: 425px;
		min-height: 193px;
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
		border-radius: 60px 0px;
		&--active {
			background: #CAA892;
			color: #FFFFFF;
		}
	}
	&__info {
		padding-left: 20px;
	}
	&__title {
		font-size: 24px;
		line-height: 16px;
		color: #212121;
		&--active {
			color: #FFFFFF;
		}
	}
	&__text {
		line-height: 28px;
		letter-spacing: -0.01em;
	}
}

.about {
	padding-bottom: 224px;
}

.completed {
	background-color: #F8F8F8;
	&__title {
		font-family: 'Poppins', sans-serif;
		margin: 0 auto;
		padding: 87px 0;
		max-width: 821px;
		font-weight: 500;
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		color: #212121;
	}
	&__list {
		list-style: none;
		display: flex;
		justify-content: space-between;
		padding-bottom: 105px;
	}
	&__item {
		width: 185px;
		min-height: 182px;
		box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
		border-radius: 40px 0px;
		span {
			display: block;
			text-align: center;
			font-weight: bold;
		}
	}
	&__value {
		margin: 0;
		padding-top: 47px;
		font-weight: bold;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		color: #212121;
	}
}

.testimonials {
	padding-top: 163px;
	text-align: center;
	&__list {
		padding-top: 99px;
		padding-bottom: 183px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.review {
	position: relative;
	width: 571px;
	min-height: 226px;
	box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
	border-radius: 70px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&__img {
		position: absolute;
		left: -61px;
		top: 44px;
	}
	&__content {
		text-align: left;
		padding-top: 41px;
		padding-left: 102px;
		padding-right: 35px;
		position: relative;
		&::after {
			content: "”";
			position: absolute;
			top: 34px;
			right: 24px;
			font-family: 'Basic Sans SF', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 96px;
			line-height: 58px;
			color: #B0855B;
		}
	}
	&__name {
		display: inline-block;
		font-weight: bold;
		font-size: 24px;
		line-height: 33px;
		color: #212121;
	}
	&__rank {
		display: inline-block;
	}
	&__text {
		margin: 0;
		padding-top: 8px;
	}
}

.news {
	text-align: center;
	padding-top: 93px;
	padding-bottom: 122px;
	background: #F8F8F8;
	&__subtitle {
		margin: 0 auto;	
	}
	&__title {
		padding-top: 21px;
	}
	&__list {
		margin: 0;
		padding-top: 82px;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.news-item {
	text-align: left;
	&__title {
		padding-top: 60px;
		font-weight: 600;
		font-size: 30px;
		line-height: 28px;
		color: #212121;
	}
	&__text {
		margin: 0;
		padding-top: 17px;
	}
}