@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
	position: relative;
	overflow: hidden;
	&__menu {
		height: 47px;
		padding-top: 34px;
		padding-bottom: 94px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		max-width: 549px;
		padding-top: 12px;
		font-weight: 600;
		font-size: 72px;
		line-height: 78px;
		color: #212121;
		@media (max-width: 515px) {
			font-size: 42px;
			line-height: 50px;
		}
	}
	&__text {
		max-width: 603px;
	}
	&__burger-wrap {
		display: none;
		@media (max-width: 1050px) {
			display: block;
		}
	}
	&__burger-icon {
		z-index: 20;
		position: relative;
		width: 30px;
		height: 5px;
		background-color:#212121;
		&::before {
			position: absolute;
			top: -10px;
			content: '';
			width: 30px;
			height: 5px;
			background-color: #212121;
			transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
		}
		&::after {
			position: absolute;
			top: 10px;
			content: '';
			width: 30px;
			height: 5px;
			background-color:#212121;
			transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
		}
	}
	&__burger--active {
		background-color: transparent;
		&::before {
			transform: rotate(45deg);
			top: 0;
			transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
			background-color: #212121;
		}
		&::after {
			transform: rotate(-45deg);
			top: 0;
			transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
			background-color: #212121;
		}
	}
}

.mobile-nav {
	text-align: center;
	box-sizing: border-box;
	z-index: 10;
	display: block;
	position: absolute;
	right: -320px;
	top: 0;
	padding-top: 120px;
	height: 100%;
	width: 320px;
	background-color: rgba( #caa892, 0.95);
	transition: transform 0.4s ease-in;
	&--active {
		transform: translateX(-100%);
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__item{
		padding-bottom: 30px;
	}
	&__link {
		font-size: 22px;
		color: #212121;
		text-decoration: none;
		&:hover {
			color: #646464;
		}
	}
}

.header-nav {
	@media (max-width:1050px) {
		display: none;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
	}
	&__item {
		padding-left: 44px;
	}
	&__link {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
		&:hover {
			color: #646464;
		}
	}
	&__btn {
		display: block;
		min-width: 97px;
		height: 32px;
		background: #caa892;
		border-radius: 15px 0px;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		line-height: 32px;
		color: #ffffff;
	}
}

.slick-current {
	.service-slider__item {
		background-color: #caa892;
		color: #ffffff;
		transition: ease 0.5s;
	}
	.service-slider__title {
		color: #ffffff;
	}
	#slider-logo {
		fill: #ffffff;
		@media (max-width: 515px) {
			display: none;
		}
		}
}

.service-slider {
	&__inner {
		position: relative;
	}
	&__arrows {
		top: 90px;
		right: 0;
		width: 78px;
		display: flex;
		justify-content: space-between;
	}
	&__arrow {
		display: block;
		min-width: 30px;
		height: 29px;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
		&--left {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 11px;
				left: 13px;
				width: 5px;
				height: 5px;
				border-top: 2px solid #646464;
				border-right: 2px solid #646464;
				transform: rotate(-135deg);
			}
		}
		&--right {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 11px;
				left: 11px;
				width: 5px;
				height: 5px;
				border-top: 2px solid #646464;
				border-right: 2px solid #646464;
				transform: rotate(45deg);
			}
		}
	}
	&__list {
		padding: 0;
		padding-top: 50px;
		padding-bottom: 204px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 0;
		@media (max-width: 515px) {
			padding-top: 0;
			padding-bottom: 50px;
		}
	}
	&__item {
		padding-top: 40px;
		padding-left: 37px;
		box-sizing: border-box;
		margin: 22px;
		max-width: 395px;
		min-height: 193px;
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
		border-radius: 60px 0px;
		@media (max-width: 515px) {
			padding-left: 0;
			max-width: 240px;
		}
	}
	&__info {
		padding-left: 60px;
		margin-top: -40px;
		@media (max-width: 515px) {
			padding-left: 20px;
			margin-top: 0;
		}
	}
	&__title {
		display: inline-block;
		font-size: 24px;
		line-height: 16px;
		color: #212121;
	}
	&__text {
		line-height: 28px;
		letter-spacing: -0.01em;
	}
}

.about {
	padding-bottom: 224px;
	@media (max-width: 515px) {
		padding-bottom: 30px;
	}
}

.completed {
	background-color: #f8f8f8;
	&__title {
		font-family: "Poppins", sans-serif;
		margin: 0 auto;
		padding: 87px 0;
		max-width: 821px;
		font-weight: 500;
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		color: #212121;
		@media (max-width: 515px) {
			font-size: 30px;
			padding: 40px 0;
		}
	}
	&__list {
		list-style: none;
		display: flex;
		justify-content: space-between;
		padding-bottom: 105px;
		@media (max-width: 860px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		width: 185px;
		min-height: 182px;
		box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
		border-radius: 40px 0px;
		span {
			display: block;
			text-align: center;
			font-weight: bold;
		}
		@media (max-width: 860px) {
			margin-top: 50px;
		}
	}
	&__value {
		margin: 0;
		padding-top: 47px;
		font-weight: bold;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		color: #212121;
	}
}

.testimonials {
	padding-top: 163px;
	text-align: center;
	@media (max-width: 515px) {
		padding-top: 50px;
	}
	&__list {
		padding-top: 99px;
		padding-bottom: 183px;
		margin-left: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1300px) {
			flex-direction: column;
		}
		@media (max-width: 515px) {
			padding-top: 0px;
			padding-bottom: 70px;
		}
	}
}

.review {
	position: relative;
	max-width: 571px;
	min-height: 226px;
	box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
	border-radius: 70px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@media (max-width: 1300px) {
		margin-top: 50px;
	}
	&__img {
		position: absolute;
		left: -61px;
		top: 44px;
	}
	&__content {
		text-align: left;
		padding-top: 41px;
		padding-left: 102px;
		padding-right: 35px;
		position: relative;
		&::after {
			content: "”";
			position: absolute;
			top: 34px;
			right: 24px;
			font-family: "Basic Sans SF", sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 96px;
			line-height: 58px;
			color: #b0855b;
		}
	}
	&__name {
		display: inline-block;
		font-weight: bold;
		font-size: 24px;
		line-height: 33px;
		color: #212121;
	}
	&__rank {
		display: inline-block;
	}
	&__text {
		margin: 0;
		padding-top: 8px;
	}
}

.news {
	text-align: center;
	padding-top: 93px;
	padding-bottom: 122px;
	background: #f8f8f8;
	&__subtitle {
		margin: 0 auto;
	}
	&__title {
		padding-top: 21px;
	}
	&__list {
		margin: 0;
		padding-top: 82px;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1250px) {
			flex-direction: column;
		}
		@media (max-width: 515px) {
			padding-top: 0;
		}
	}
}

.news-item {
	@media (max-width: 1250px) {
		padding-top: 50px;
	}
	text-align: left;
	&__title {
		padding-top: 60px;
		font-weight: 600;
		font-size: 30px;
		line-height: 28px;
		color: #212121;
	}
	&__text {
		margin: 0;
		padding-top: 17px;
	}
}

.subscribe {
	padding-top: 197px;
	padding-bottom: 192px;
	text-align: center;
	@media (max-width: 515px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	&__title {
		text-transform: uppercase;
		padding-bottom: 37px;
	}
	&__line {
		margin: 0 auto;
		max-width: 461px;
		height: 0;
		border-top: 1px solid #c4c4c4;
	}
	&__text {
		margin: 0 auto;
		max-width: 647px;
		padding-top: 40px;
		padding-bottom: 29px;
	}
	&__input {
		width: 592px;
		height: 50px;
		padding: 0;
		padding-left: 27px;
		box-sizing: border-box;
		border: 0;
		background: #eeeeee;
		border-radius: 20px 0px 0px 0px;
		font-weight: 500;
		font-size: 18px;
		line-height: 55px;
		color: #646464;
		@media (max-width: 860px) {
			width: 300px;
		}
		@media (max-width: 504px) {
			border-radius: 20px 0px 20px 0px;
			margin-bottom: 15px;
		}
	}
	&__btn {
		cursor: pointer;
		position: relative;
		top: 1px;
		left: -5px;
		text-transform: uppercase;
		padding: 0 42px;
		height: 50px;
		border: 0;
		border-radius: 0px 0px 20px 0px;
		@media (max-width: 504px) {
			border-radius: 20px 0px 20px 0px;
		}
	}
}
.footer {
	padding-top: 93px;
	background: #f8f8f8;
	@media (max-width: 515px) {
		padding-top: 70px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: 1050px) {
			flex-direction: column;
		}
	}
	&__logo {
		max-width: 350px;
	}
	&__text {
		padding-top: 15px;
		margin: 0;
		// @media (max-width: 1050px) {
		// 	max-width: 200px;
		// }
	}
	&__menu {
		padding-right: 10px;
		padding-bottom: 69px;
		@media (max-width: 1050px) {
			padding-bottom: 0;
		}
	}
	&__line {
		margin: 0 auto;
		max-width: 100%;
		height: 0;
		border-top: 1px solid #c4c4c4;
	}
	&__copyright {
		margin: 0;
		padding-top: 15px;
		padding-bottom: 22px;
		text-align: center;
		a {
			color: #37806b;
			text-decoration: none;
		}
	}
}

.footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	&__title {
		padding-bottom: 15px;
		font-weight: 600;
		font-size: 24px;
		line-height: 40px;
		color: #212121;
		@media (max-width: 1050px) {
			&:first-child{
				padding-top: 50px;
			}
		}
	}
	&__item {
		padding-top: 10px;
	}
	&__link {
		text-decoration: none;
		color: #646464;
	}
}

.footer-social {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	@media (max-width: 1050px) {
		padding-bottom: 50px;
	}
	&__link {
		display: block;
		margin-right: 8px;
		width: 37px;
		height: 37px;
		background: #d5d5d5;
		border-radius: 50%;
		&:hover {
			background: #37806b;
			transition: ease 0.7s;
		}
	}
	&__fb {
		position: relative;
		top: 7px;
		left: 7px;
	}
	&__twitter {
		position: relative;
		top: 7px;
		left: 8px;
	}
	&__instagram {
		position: relative;
		top: 6px;
		left: 9px;
	}
	&__linkedin {
		position: relative;
		top: 7px;
		left: 8px;
	}
}
